.box {
  background-color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .5s;
}

input[type=text]:focus, input[type=password]:focus {
  border-color: lighblue;
  box-shadow: 0 0 8px 0 lightblue;
}

.iconized-field input[type=text], input[type=password] {
  padding-left: 50px;
}

.iconized-field {
  position: relative;
}
.iconized-field i {
  position: absolute;
  left: 1px;
  top: 1px;
  padding: 12px 21px;
  color: WhiteSmoke;
  trasition: .5s;
}

.show-password {
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 1px 21px;
  background-color: WhiteSmoke;
  trasition: .5s;
  border-radius:  0 4px 4px 0;
  border-left-color: lightgrey;
  border-left-style: solid;
  border-width: 1px;
}
.iconized-field input[type=text]:focus + i, input[type=password]:focus + i {
  color: lightblue;
}

.iconized-field.iconized-field-solid i {
  background-color: WhiteSmoke;
  color: lightgrey;
  padding: 12px 21px;
  border-radius:  4px 0 0 4px;
  border-right-color: lightgrey;
  border-right-style: solid;
  border-width: 1px;
}

.iconized-field.iconized-field-solid input[type=text], input[type=password] {
  background-color: white;
}

::placeholder {
    color: lightgrey;
    opacity: 1;
}
