<div class="box">
  <form novalidate [formGroup]="form" (ngSubmit)="registerUser()">
    <div class="form-group">

      <label for="firstNameField">VORNAME</label>
      <div class="iconized-field inconized iconized-field-solid">
          <input type="text" class="form-control" formControlName="firstName">
          <i class="fa fa-user fa-lg fa-fw" aria-hidden="true" style="padding-left: 14px; padding-right: 28px;"></i>
      </div>

      <div *ngIf="form.get('firstName').hasError('required') && form.get('firstName').touched" class="alert alter-danger">
        muss ausgefüllt werden
      </div>

      <label for="lastName">NACHNAME</label>
        <div class="iconized-field inconized iconized-field-solid">
            <input type="text" class="form-control" formControlName="lastName">
            <i class="fa fa-user fa-lg fa-fw" aria-hidden="true" style="padding-left: 14px; padding-right: 28px;"></i>
        </div>

      <label for="username">MITGLIEDSNAME</label>
      <div class="iconized-field inconized iconized-field-solid">
          <input type="text" class="form-control" formControlName="username" placeholder="Dein Mitgliedsname ist öffentlich">
          <i class="fa fa-user fa-lg fa-fw" aria-hidden="true" style="padding-left: 14px; padding-right: 28px;"></i>
      </div>


      <label for="username">E-MAIL</label>
      <div class="iconized-field inconized iconized-field-solid">
          <input type="text" class="form-control" formControlName="email">
          <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true" style="padding-left: 10px; padding-right: 31px;"></i>
      </div>



      <div class="">
        <div class="">

        </div>

        <div class="">
          <label for="password">PASSWORT</label>
          <div class="iconized-field inconized iconized-field-solid">
            <input type="text" class="form-control" formControlName="password" *ngIf="showPassword">
            <input type="password" class="form-control" formControlName="password" *ngIf="!showPassword">
              <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true" style="padding-left: 13px; padding-right: 28px;"></i>
          </div>

        </div>

        <div class="">
          <label class="center-block">
        <input type="checkbox" (change)="toggleShowPassword($event)">
        Anzeigen
      </label>
        </div>
      </div>


      <div class="checkbox">
        <label class="center-block">
      <input type="checkbox" formControlName="termsAcceptance">
      Ich willige die Verarbeitung und Nutzung meiner Daten gemäß der Datenschutzerklärung ein.
    </label>
      </div>

    </div>
    <button class="btn btn-success btn-block" style="background-color: #a8d000; border-color: #a8d000;" type="submit" [disabled]="form.invalid">
      Jetzt registrieren
    </button>



  </form>
</div>
