<div class="container-fluid">

<div class="row">

  <div class="col-sm-4">

  </div>

  <div class="col-sm-4">
    <div class="text-center ">
      <div class="btn btn-secondary btn-block">
        Über Facebook registrieren
      </div>
    </div>

    <div class="text-center row">

      <div class="col-sm-4"><hr></div>
      <div class="col-sm-4">
        <p>ODER OHNE FACEBOOK</p></div>
      <div class="col-sm-4"><hr></div>
    </div>

    <gdg-registration-form></gdg-registration-form>

    <hr>

    <div class="text-center">
      Bereits Mitglied bei DaWanda? <a href="#">Hier einloggen</a>
    </div>
  </div>

  <div class="col-sm-4">

  </div>

</div>
